<div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-6" *ngFor="let parameter of parameters; let i = index">
        <label for="state">{{ parameter.displayName }}</label>
        <ng-container *ngIf="parameter.type === 'select'">
        <p-dropdown [inputId]="parameter.name" [options]="parameter.options ? parameter.options : []" placeholder="Select..."
            optionLabel="name" [formControl]="getControl(i)"></p-dropdown>
        </ng-container>
        <ng-container *ngIf="parameter.type === 'number'">
        <p-inputNumber mode="decimal" [showButtons]="true" [formControl]="getControl(i)"></p-inputNumber>
        </ng-container>
        <ng-container *ngIf="parameter.type === 'multiSelect'">
        <p-multiSelect  [inputId]="parameter.name" [options]="parameter.options ? parameter.options : []" placeholder="Select few..."
            optionLabel="name" [formControl]="getControl(i)"></p-multiSelect >
        </ng-container>
    </div>
</div>