$toolbar-option-size: 2em;

.canvas-style {
    border: 1px solid #000; 
    margin: 1px 0 0 0;
    height: 355px;
    display: block;
    width: 100%;
    margin: 10px 0 0 0;
}

.block {
    display: block;
    height: $toolbar-option-size;
}

.toolbar {
    display: block;
}

.toolbar li {
    display: block;
    float: left;
    height: $toolbar-option-size;
    width: $toolbar-option-size;
    border: 1px solid #000;
}

.size {    
    text-align: center;
    vertical-align: middle;    
}

.toolbar {
    display: inline;
}
